<body class="main--container">
    <app-cabecalho></app-cabecalho>
    
    <main class="container">
        <div class="container-acoes">
            <h1> Hospedes sem reserva: </h1>
            @if (isSelected) {
                <button class="alocate-button" [class.selected]="isSelected" (click)="abrirModal()">Reservar</button>
            } @else {
                <button class="alocate-button" [class.unselected]="isSelected" disabled>Reservar</button>
            }
        </div>
        <div class="container-filtros">
            <button class="filter-button" (click)="ordenar('idade')" [class.selected]="isOrdenadoIdade"><img src="/sort-down.png"> Idade</button>
            <button class="filter-button" (click)="ordenar('tdm')" [class.selected]="isOrdenadoTempoMinisterio"><img src="/sort-down.png"> Tempo de ministério</button>
            <button class="filter-button" (click)="ordenar('enfermidade')" [class.selected]="isOrdenadoEnfermidade"><img src="/sort-down.png"> Enfermidade</button>
        </div>
        <section class="consulta-box">
            <div class="listagem-cards">
                @for (hospede of hospedes; track hospede) {
                <div class="checkbox-div" (click)="toggleSelection(hospede.hospedeId)">
                    @if (selectedReserva == hospede.hospedeId) {
                    <div [class.selected]="isSelected" class="reserva-card">
                        <p class="reserva-info"><strong>{{ hospede.nome}}</strong></p>
                        <p class="reserva-info">{{ hospede.cargoMinisterio}}</p>
                        <p class="reserva-info">Idade: {{ hospede.idade }} anos</p>
                        <p class="reserva-info">Tempo de ministério: {{ hospede.tempoOrdenacao }} anos</p>
                        <!-- <p class="reserva-info">Possui enfermidade?: {{ hospede.nome == true ? 'Sim' : 'Não' }}</p> -->
                    </div>
                    } @else {
                    <div [class.unselected]="isSelected" class="reserva-card">
                        <p class="reserva-info"><strong>{{ hospede.nome}}</strong></p>
                        <p class="reserva-info">{{ hospede.cargoMinisterio}}</p>
                        <p class="reserva-info">Idade: {{ hospede.idade }} anos</p>
                        <p class="reserva-info">Tempo de ministério: {{ hospede.tempoOrdenacao }} anos</p>
                        <!-- <p class="reserva-info">Possui enfermidade?: {{ hospede.nome == true ? 'Sim' : 'Não' }}</p> -->
                    </div>
                    }
                </div>        
                } @empty {
                    <p>Não há servos de Deus para alocar.</p>
                }
            </div>
        </section>
    </main>
    <app-alocar-leito [selectedReserva]="selectedReserva" (alocar)="onLeitoAlocado($event)"></app-alocar-leito>
</body>
