* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 5vh;
    margin-left: 3vw;
    flex: 1;
}

.container-acoes {
    display: flex;
    width: 93vw;
    justify-content: space-between;
}

.consulta-box {
    height: 60vh;
    width: 93vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.consulta-button {
    width: 10em;
    height: 4em;
    border-radius: 8px;
}

.listagem-cards {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.checkbox-div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.reserva-card {
    width: 320px;
    height: auto;
    background-color: var(--cor-container);
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    border: 2px solid var(--cor-container);
    border-radius: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, height 0.5s ease-in-out;
    padding: 8px;
    overflow: hidden;
}

.reserva-card.selected {
    background-color: #908f8a;
    border-color: #807e77;
    transform: scale(1.10);
}

.reserva-card.unselected {
    background-color: var(--cor-container);
    border-color: var(--cor-container);
}

.reserva-card:hover {
    transform: scale(1.10);
}

.reserva-info {
    margin: 2px;
}

.alocate-button {
    height: 50px;
    width: 20vh;
    background-color: #C1CFA1;
    border-color: #C1CFA1;
    border-radius: 10px;
    font-size: large;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    right: 60px;
}

.alocate-button.selected:hover {
    transform: scale(1.10);
}

.alocate-button.selected {
    background-color: #A5B68D;
}

.alocate-button.unselected {
    background-color: #C1CFA1;
}

.container-filtros {
    margin-left: 4vw;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.filter-button {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    padding: 2px;
    border: 2px solid #fada7a;
    background-color: #fada7a2b;
    transition: background-color 0.3s ease-in-out;
}

.filter-button:hover {
    background-color: #fada7a;
}

.filter-button.selected {
    background-color: #fada7a;
}