<header class="cabecalho">
    <img src="/ccb.png" class="logo" />

    <nav>
        <ul>
            <li><a href="#home">Início</a></li>
            <li>
                <div class="dropdown">
                    <a href="#features">Hospedes</a>
                    <div class="dropdownmenu">
                        <a [routerLink]="'/consultar-hospedes'">Consultar Hospedes</a>
                        <a [routerLink]="'/cadastrar-hospede'">Cadastrar Hospede</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a [routerLink]="'/leitos'">Leitos</a>
                    <div class="dropdownmenu">
                        <a [routerLink]="'/reservas'">Alocar Hóspede</a>
                        <a [routerLink]="'/consultar-reservas'">Consultar Reservas</a>
                    </div>
                </div>
            </li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#contact">Contato</a></li>
        </ul>
    </nav>

    <div class="contact">
        <p *ngIf="userName$ | async as userName">
            A paz de Deus, {{ userName }}!
        </p>
        <button class="logout-button" (click)="logout()">LogOut</button>
    </div>
</header>