* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.cabecalho {
    background-color: #B4B4B8;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 13vh;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.logo {
    width: 50%;
    height: 50%;
    object-fit: cover;
    margin-left: 5vw;
    margin-right: 5vw; /* Ajusta a imagem sem distorcer */
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #F2EFE5;
    font-weight: bold;
    transition: color 0.3s;
    font-size: larger;
}

nav ul li a:hover {
    color: #325883;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownmenu {
    display: none;
    position: absolute;
    background-color: #E3E1D9;
    list-style: none;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdownmenu a {
    color: #325883 !important; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownmenu a:hover {
    background-color: #4a7bb3;
    color: #E3E1D9 !important;
}

.dropdown:hover .dropdownmenu{
    display: block;
}

.container {
    margin-top: 15vh;
    margin-left: 10vw;
    flex: 1;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #C7C8CC;
    color: white;
    text-align: center;
    padding: 20px;
    z-index: 1000; /* Garante que o footer fique acima de outros conteúdos */
}