<header class="cabecalho">
    <nav>
        <img src="/ccb.png" class="logo">
        <ul>
            <li><a href="#home">Início</a></li>
            <li>
                <div class="dropdown">
                    <a href="#features">Recursos</a>
                    <div class="dropdownmenu">
                        <a [routerLink]="'/reservas'">Alocar Hóspede</a>
                        <a [routerLink]="'/consultar-reservas'">Consultar Reservas</a>
                        <a href="#alocar_hospede">teste</a>
                    </div>
                </div>
            </li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#contact">Contato</a></li>
        </ul>
    </nav>
</header>