<body class="main--container">
    <app-cabecalho></app-cabecalho>
    <div class="container">
        <h2 class="leitos-titulo">Visão geral dos leitos</h2>
        <div class="leitos">
            @for (leito of leitos; track leito) {
            <div class="leito-card" [class.ocupado]="leito.ocupado">
                <p>{{leito.codigoLeito}}</p>
            </div>
            }
        </div>
        <div class="hospedes-alocados">
            @for (hospedeAlocado of hospedesAlocados; track hospedeAlocado) {
                <div class="hospede-inline">
                    <p><strong>{{ hospedeAlocado.leitoId }}</strong></p>
                    <p>{{ hospedeAlocado.dormitorio }}</p>
                    <p>{{ hospedeAlocado.nome }}</p>
                    <p>{{ hospedeAlocado.cargoMinisterio }}</p>
                    <p>{{ hospedeAlocado.cargoMinisterio }}</p>
                </div>
            }
        </div>
    </div>
</body>