<body class="main--container">
    <app-cabecalho></app-cabecalho>
    <div class="container">
        <h2>Consulta de Hóspedes</h2>
        <div class="cards--container">
            @for (hospede of hospedes; track hospede) {
            <div class="hospede-card">
                <div class="hospede-card-info">
                    <p><strong>{{hospede.nome}}</strong></p>
                    <p>Idade: {{hospede.idade}}</p>
                    <p>{{hospede.cidade}} - {{hospede.uf}}</p>
                    <p>{{hospede.cargoMinisterio}}</p>
                    <p>Ordenado fazem {{hospede.tempoOrdenacao}} anos</p>
                </div>
                <div class="hospede-card-buttons">
                    <button class="delete-button" (click)="abrirModal(hospede)">Remover hóspede</button>
                    <button class="edit-button">Editar</button>
                    <button class="detail-button">Detalhes</button>
                </div>
            </div>
            <div class="modal" *ngIf="modalAberto">
                <div class="modal-content">
                    <p>Tem certeza que deseja remover <strong>{{ hospedeSelecionado?.nome }}</strong>?</p>
                    <div class="modal-buttons">
                        <button id="cancelBtn" (click)="fecharModal()">Cancelar</button>
                        <button id="confirmBtn" class="delete-button" (click)="confirmarRemocao()">Remover</button>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>

</body>