<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma Angular</title>
</head>
<body class="main--container">
    <app-cabecalho></app-cabecalho>

    <main class="container">
        <section id="home">
            <h1>Bem-vindo à Plataforma de Reservas do Dormitório Brás!</h1>
            <p>Esta é a página inicial. Aqui você pode navegar para outras seções.</p>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2025 Congregação Cristã no Brasil. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
