* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 5vh auto;
    padding: 20px;
    background-color: var(--cor-container);
    border: 2px solid var(--cor-container);
    border-radius: 8px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.container-ministerio {
    background-color: #cac9c2;
    padding: 20px;
    border-radius: 8px;
    margin: 1vh auto;
}

.radio-input {
    display: none;
}

.radio-input:checked+.radio-custom {
    background-color: #3b8deb;
}

/* .radio-label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    color: #555;
} */

.radio-custom {
    width: 18px;
    height: 18px;
    border: 2px solid #337ed3;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

h2 {
    margin-bottom: 16px;
    font-size: 1.5rem;
    text-align: center;
}

.form-group {
    margin-bottom: 16px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group .error {
    color: #ff4d4f;
    font-size: 0.875rem;
    margin-top: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}